# 数据和模型权重 (绝对不能传！)
datasets/
data/
videos/
*.pt
*.pth
*.npy
*.mp4
*.parquet

# Python 缓存和虚拟环境
__pycache__/
*.pyc
# Python 虚拟环境
.venv/
venv/
env/

# IDE 配置文件
.vscode/
.cursor/
.idea/

# 日志文件
runs/
logs/
*.log